@import "agency";
$primary-color:  {{.Site.Params.primaryColor | default "#7a8288" }} !default;
.post-preview > a {
	text-decoration: none;
	color: $gray-800;
}

.album-thumbnail{
	/*overflow: hidden;*/
}

.album-thumbnail img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	object-fit: fill;
}

.album-thumbnail:hover .album-thumbnail-text-holder {
	display: block;
}

.album-thumbnail-text-holder
{
		position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    font-size: 20px;
    background-color: white;
    text-align: center;   
		display: none;
		transition: opacity .2s, visibility .2s; 
}

.album-thumbnail-text-holder p{
	text-align:center;
}

